.authorization {
    padding: 10% 0 0 10%;

    .authorization-form {
        width: 40%;

        .authorization-form-button {
            height: auto;
            border-radius: 30px;
            padding: 10px 0;
        }
    }
}