.authorization {
    padding: 10% 0 0 10%;

    .authorization__form {
        width: 40%;

        .authorization__form__button {
            height: auto;
            border-radius: 30px;
            padding: 10px 0;
        }
    }
}