.registration {
    padding: 10% 0 0 10%;

    .registration__form {
        width: 40%;

        .registration__form__button {
            height: auto;
            border-radius: 30px;
            padding: 10px 0;
        }
    }
}