.registration {
    padding: 10% 0 0 10%;

    .registration-form {
        width: 40%;

        .registration-form-button {
            height: auto;
            border-radius: 30px;
            padding: 10px 0;
        }
    }
}