.home {
    margin-top: 150px;
    position: relative;
    width: 100%;
}

.title {
    font-size: 50px;
    margin-bottom: 30px;
}

.second-title {
    margin-top: 100px;
    font-size: 40px !important;
}

.companies {
    width: 60%;
}

.hero-img {
    position: absolute;
    top: -250px;
    right: 0;
    z-index: -999;
    width: 60%;
}