.number-input {
    max-width: 220px;
    width: 100%;
}

.big-input {
    max-width: 670px;
    width: 100%;
}

.textarea {
    min-height: 200px !important;
    width: 100%;
}

.input {
    width: 80%;
}